*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    
}

/* classe per regolare il pattern nell'header */
.pattern-alto{
    background-color: rgba(78, 160, 255, 1);
    height: 100px;
    width: 100%;
    background-image: url(../img/pattern.png) ;
    background-position: top;
    background-size: 400px;
}
/* fine classe  */


/* id per regolare logo all'interno del pattern */
#logo{
  width: 200px;
  height: 200px;
  margin-left: 10%;
  padding-bottom: 4%;
}
/* fine id */

/* titolo iniziale */
#titolo{
    padding-left: 10%;
    padding-right: 10%;
}
#titolo a{
    color: blue;
    text-decoration: none;
}
#titolo h1{
     font-size: 50px;   
}
#titolo h2 ,#titolo h4{
    color: grey;
}
/* fine titolo */

/* sezione foto */
#foto-centro{
    padding-left: 10%;
    padding-right: 10%;
}
/* fine sezione foto */

/* evidenziatore */
.hightlights{
 background-color: lightseagreen;    
}


/* sezione paragrafi */
#paragrafi{
    padding-left: 10%;
    padding-right: 10%;
    font-size:large;
    }
#paragrafi ul{
    padding-left: 20px;
}

/* table */
td {
    padding: 15px;
}
#t-body {
    height: 5px;
    background-color: rgb(18, 201, 116);
    }
#t-head{
    height: 5px;
    color: white;
    background-color: rgb(86, 138, 109);
}
/* /table */

/* footer */

#footer-titolo h2{
    padding-left: 10%;
    padding-right: 10%;
    color: red;
}
#footer-foto1{
    border: 1px solid black;
    margin-left: 10%;
    height: 200px;
    width: 300px;
    background-image: url(../img/monitor.jpg);
}
#footer-foto1 h2{
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 10px;
    color: white;
}
#footer-foto2{
   
    margin-left: 10%;
    height: 200px;
    width: 300px;
    background-image: url(../img/graph.jpg) ;
}
#footer-foto2 h2{
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 10px;
    color: white;
}
/* /footer */